<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find time_sync_kinects)/worlds/wall_test.world"/> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node name="model_mover" pkg="time_sync_kinects" type="model_mover.py" respawn="false" output="screen">
   	<param name="model_name" type="string" value="wall"/>
	<param name="steps" type="string" value="0.0, 0, 0.0004" /> 
  	<param name="max_pos" type="string" value="0, 0, 2.5" />
	<param name="min_pos" type="string" value="0, 0, 0.5" />
	<param name="init_pos" type="string" value="0, 0, 1" />
  </node>

</launch>
